# .coveragerc to control coverage.py
[run]
branch = True
# include =
#     bopitbot/*
[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    bopitbot/init_db.py
    bopitbot/test/*
    */__init__.py
